{% extends "base_generic.html" %}

{% block content %}
<h1>{{ author.names }} {{author.surname}}</h1>
<div style="margin-left:20px;margin-top:20px">
    <h2>Książki</h2>
    {% for book in author.book_set.all %}
    <hr>
    <strong>
    <a href="{{ book.get_absolute_url}}">{{ book.title }}</a>
    </strong>
    {% comment %}
    {% endcomment %}
    <p>Liczba egzemplarzy: <span class="{% if book.bookinstance_set.all.count > 0 %}text-success{% else %}text-danger{% endif %}">{{ book.bookinstance_set.all.count}}</span>

    {% comment %}
        <br>
    Liczba dostępnych egzemplarzy:  {{ book.bookinstance_set.filter(status_exact="a").count}}
    {% endcomment %}
    </p>
    <p>Gatunek: {{book.genre.all|join:", "}} <br>
    Rok pierwszego wydania: {{book.first_published}}</p>
    <p>{{ book.summary}}</p>
    {% endfor %}


</div>



{% endblock %}