{% extends "base_generic.html" %}

{% block content %}
<h1>Wypożyczone książki</h1>

{% if bookinstance_list %}
<table>
    <tr>
        <th>Tytuł</th>
        <th>Wypożyczający</th>
        <th>Data ważności</th>
        <th>Możliwość przedłużenia</th>
        <th>Zatwierdzenie oddania</th>
    </tr>

    {% for bookinstance in bookinstance_list %}
    <tr>
        <td>
            <a href="{% url 'book_detail' bookinstance.book.pk %}" class="font-weight-bold">{{bookinstance.book.title}}</a>
        </td>
        <td>
            {{ bookinstance.borrower }}
        </td>
        <td>
            <span class="{% if bookinstance.is_overdue %}text-danger{% endif %}">
                {{ bookinstance.due_back|date:'d. m. Y' }} </span>
        </td>
        <td>
            {% if not bookinstance.prolonged %}<a href="{% url 'renew_book' bookinstance.id %}">Przedłuż</a>{% else %}Brak możliwości{% endif %}
        </td>
        <td>
            <a href="{% url 'return_book' bookinstance.id%}">Zatwierdź</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% else %}
<p>Brak wypożyczonych książek.</p>
{% endif %}
{% endblock %}