{% extends "base_generic.html" %}

{% block content %}
  <h1>Lista książek</h1>

  <h2>Nowości</h2>
  <ul>
      {% for book in book_list %}
      <li>
          <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{ book.author.all|join:", " }})
      </li>
      {% endfor %}
  </ul>

  <h2>Pełen katalog</h2>
  {% if book_list %}
  <ul>
    {% for book in all_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{ book.author.all|join:", " }})
      </li>
    {% endfor %}
  </ul>



  {% else %}
    <p>Brak książek w bibliotece.</p>
  {% endif %}
{% endblock %}


