{% extends "base_generic.html" %}

{% block content %}

  {% if form.errors %}
    <p>Login i hasło są niepoprawne. Spróbuj ponownie.</p>
  {% endif %}

      {% comment %}
      Jak to działa, czemu nie wywołuje sie zawsze? Czy nie zawsze jest next?
      {% endcomment %}
  {% if next %}
    {% if user.is_authenticated %}
      <p>Nie masz dostepu do tego konta. Aby kontynuować,
      użyj konta które ma dostęp do tej treści.</p>
    {% else %}
      <p>Zaloguj się żeby zobaczyć zawartość strony.</p>
    {% endif %}
  {% endif %}

  <form class="form-signin" method="post" action="{% url 'login' %}">
      {% comment %}
      Protection against Cross Site Request Forgery
      {% endcomment %}
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Nie pamiętasz hasła?</a></p>

{% endblock %}